.chat-main
  .main-header
    .main-header__box
      .main-header__box__group-name
        = @group.name
      %ul.main-header__box__menber
        Member :
        - @group.users.each do |user|
          %li.main-header__box__menber__name
            = user.name
    = link_to edit_group_path(@group), class: "main-header__edit-group" do
      %p.main-header__edit-group__btn
        Edit
  .messages
    = render @messages
  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
      .input-box
        = f.label :image, class: 'input-box__image' do
          = icon('fas', 'image')
          = f.file_field :image, class: 'input-box__image__file'
      = f.submit 'Send', class: 'submit-btn'