.chat-side
  .side-header
    .side-header__box
      %p.side-header__box__username
        = current_user.name
      %ul.side-header__box__menu
        %li.side-header__box__edit-user
          = link_to "#" do
            = icon('fas', 'edit')
        %li.side-header__box__new-group
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog')
  .groups
    = link_to "#", class:"group" do
      %p.group__group-name
        techchamp
      %p.group__latest-message
        まだメッセージがありません